html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Cambria, "微軟正黑體", msjh, "Microsoft JhengHei", sans-serif;
    line-height: 1.6;
}
body {
	margin: 0 auto;
	max-width: 72rem;
	min-width: 30rem;
}
nav ul li {
	display: inline;
}
a {
	color: inherit;
}
p {
	text-indent: 2rem;
}
#pageHeader {
	text-align: right;
	padding: 2rem;
	/*bg-img?*/
}
#navBar {
	background-color: #FFF;
	width: 100%;
	text-align: center;
}
#navBar a {
	text-decoration: none;
	padding: 1rem 0 0.5rem 0;
	border-bottom: solid 0.5rem;
}
#navBar a:hover {
	color: #FFF;
	font-weight: bold;
}
#navBar a.now {
	color: #FFF;
}
#navBar a:nth-child(1) {
	border-color: #F00;
}
#navBar a:nth-child(2) {
	border-color: #FD0;
}
#navBar a:nth-child(3) {
	border-color: #09F;
}
#navBar a:nth-child(4) {
	border-color: #F0F;
}
#navBar a:nth-child(5) {
	border-color: #0C0;
}
#navBar a:nth-child(1):hover,:nth-child(1).now {
	background-color: #F00;
}
#navBar a:nth-child(2):hover,:nth-child(2).now {
	background-color: #FD0;
}
#navBar a:nth-child(3):hover,:nth-child(3).now {
	background-color: #09F;
}
#navBar a:nth-child(4):hover,:nth-child(4).now {
	background-color: #F0F;
}
#navBar a:nth-child(5):hover,:nth-child(5).now {
	background-color: #0C0;
}
article {
	padding: 1rem;
}
#pageFooter {
	text-align: center;
	padding: 1rem;
}
#pageFooter ul li {
	padding: 0 1rem;
	border: solid;
	border-width: 0 1px;
}