body {
	position: relative;
	margin: 0 auto;
	width: 72rem;
	background-color: #000;
}
.h-bar {
	position: relative;
	width: 95%;
	background-color: #F00;
	padding: 1rem 2.5%;
}
.row {
	position: relative;
	margin: 0 auto;
}
.v-bar {
	position: absolute;
	height: 34rem;
	padding: 1rem;
	top: 0;
	background-color: #0F0;
}
.v-slider {
	height: 100%;
}
#right {
	right: 0;
}
#navcall {
	right: 0;
	background-color: #F0F;
}
#navside {
	width: 8rem;
	left: -8rem;
	z-index: 10;
}
#view {
	position: relative;
	margin: 0 auto;
	width: 64rem;
	height: 36rem;
	background-color: #00F;
}
.btn-pill {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: #00F;
	color: #FFF;
}
.btn-pill:hover {
	background-color: lightblue;
	color: #FFF;
}
.btn-pill.active {
	background-color: lightblue;
	color: #FFF;
}
.btn-full {
	width: 4rem;
	text-align: center;
}